body {
  background: rgb(66, 66, 66);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.reddish {
  background: #9e1208;
  margin-right: 5px;
}
.grey {
  background: #a3adaf;
  margin-right: 5px;
}
.green {
  background: #63c00d;
  margin-right: 15px;
  margin-left: .25rem;
}
.yellow {
  background: #f3f70f;
  margin-right: 5px;
}
.lightblue {
  background: #67bdc9;
}

.center {
  min-width: 400px;
  height: 400px;
  background: rgb(66, 66, 66);
  border-radius: 100%;
  transition: 0.2s ease-in-out all;
}
.color-hover {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.text {
  padding: 10px;
  color: #ffffff;
}
.color {
  width: 120px;
  height: 30px;
  border-radius: 5%;
  margin-bottom: 30px;
}
.color:hover {
  cursor: pointer;
}
.color:last-child {
  margin-bottom: 0;
}
